body{
    background-color: #999;
    color: white;
    font-family:  Arial;
    font-size: 15px;
}

ul{
}

ul a{
    background-color: #666;
}

a:hover{
    background-color: #555;
}

.button{
    background-color: #333;
}

.button:hover{
    background-color: #111;
}