body{
    background-color: #999;
    color: white;
    font-family:  Arial;
    font-size: 15px;
}

ul{
    background-color: #333;
    margin: 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}

ul a{
    background-color: #666;
    padding: 5px;
    border-radius: 5px;
}

a:hover{
    background-color: #555;
    padding: 5px;
    border-radius: 5px;
}

.button{
    background-color: #333;
    padding: 10px;
}

.container {
    width: 500px;
    clear: both;
  }
  
  .container input {
    width: 100%;
    clear: both;
  }